.race-text{
    font-size: 100%;
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
}
.game-kind {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
// .image-wrapper{
//     display: flex;
//     justify-content:flex-end;
// }
// img{
//     max-width: 40%;
//     height: 40;
// }
.super-container{
    display: flex;
}
.distance-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
}
.distance{
    font-size: 100%;
    width: 200px;
    text-align: center;
    color: #fff;
}
.map-wrapper{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.map{
    width: 100%;
    height: 400px;
}
.board{
    color: #fff;
}