<div class="game-kind">
    <!-- <div class="image-wrapper">
        <img src="/assets/images/running-gif.gif" />
    </div> -->
    <div class="race-text">
        Runnnnn!
        It's a R-A-C-E!
    </div>

</div>
<div class-="super-container">
    <div class="distance-container">
        <div class="distance">
            You
            <div class=board> {{myDistance}} y </div>
        </div>
        <div class="distance">
            Opponent
            <div class=board> {{opponentDistance}} y </div>
        </div>

    </div>

    <div class="map-wrapper">
        <div class="map" #map></div>
    </div>
</div>