@import './flex.scss';

.background{
    background-color: black;
}
.header{
    @include flex();
    background-color: #000;
    height: 60px;
    padding: 10px;
    position: relative;
    z-index: 10;
    .logo{
  
      max-width: 100%;
      height: 40px;
      margin-top: 10px;
    }
    .myatt{
      max-width: 100%;
      margin-left:20px;
      height: 30px;
    }
  }